@using System.Web.Optimization
@model SSExec.Web.Models.LoginModel

@{
    ViewBag.Title = "Войти";
}
   

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()

    <div class="form-signin" role="form">
        <h2 class="form-signin-heading">Вход</h2>
        
        @Html.LabelFor(m => m.UserName, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = Html.DisplayNameFor(x=>x.UserName) })
        @Html.ValidationMessageFor(m => m.UserName)
        
        @Html.LabelFor(m => m.Password, new { @class = "sr-only" })
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Html.DisplayNameFor(x=>x.Password) })
        @Html.ValidationMessageFor(m => m.Password)

        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(m => m.RememberMe) @Html.DisplayNameFor(x => x.RememberMe)
            </label>
        </div>
        
        @Html.ValidationSummary(true)

        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
    </div>
}

@section Scripts {
    @Scripts.Render("~/Scripts/jqueryval")
}
